/*** General ***/
html, body {
  overflow: visible;
}
a, button, tr, select, input, label {
  -webkit-tap-highlight-color: transparent;
}
div input {
  margin: 0px;
}
select {
  width:auto;
}
.hiddenPath {
  display: none;
}
.table {
  margin-bottom: 0;
}
.tableFixHead {
  overflow-y: auto;
  margin-bottom: 0;
}
.tableFixHead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #eee;
}
.icon-white {
  color: white;
}
.icon-black {
  color: black;
}
a:hover, a:focus {
  color: #428bca;
  outline: none;
  text-decoration: none;
}
#mainContainer {
  background-color: #fff;
  padding: 39px 3px 51px 3px;
  margin: 0;
}
.progress .progress-bar {
  white-space: nowrap;
  text-shadow:1px 1px 3px #000
}
h5, #detailsTrackersPage a, #detailsFilesPage a, #detailsDetailsPage #label td, .nav a, #getDirList td {
  word-break:break-all;
}
#torrentsList #list span {
  font-size: 12px;
}


/*** navbar bottom ***/
.navbar .nav > li {
  float: left;
  margin-right: 15px;
}
.navbar .nav > li:last-child {
  margin-right: 0px;
}
.navbar .nav > li > a, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  height: 50px;
}
.navbar .nav > li > div > span {
  position: relative;
  top: -2px;
  font-size: 70%;
  color: #fff;
  line-height: 0;
}
.navbar .nav > li > div > i {
  margin-top: 7px;
  margin-right: 2px;
}
.navbar .divider-vertical {
  height: 50px;
  margin: 0 15px 0 0;
  border-right: 1px solid #323232;
  border-left: 1px solid #111111;
}


/*** navtabs top ***/
.nav-tabs {
  background-color: #fff;
  padding: 3px 3px 0 3px;
}
#torrentsList .nav {
  white-space: nowrap;
  font-size: 0;
}
#torrentsList .nav > li > a {
  margin-right: 1px;
}
#torrentsList .nav > li > a > span {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#torrentsList .nav > li > a > .caret {
  position: relative;
  display: inline;
  top: 9px;
}
.nav-tabs .open .dropdown-toggle {
  color: #fff !important;
  background-color: #999 !important;
  border-color: #999 !important;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs #sort {
  float: right;
}
.nav-tabs #sort #sortIcon i {
  color: #428bca;
}
.nav-tabs #refresh {
  float: right;
}
.nav-tabs #refresh #refreshIcon i {
  color: #428bca;
}


/*** Torrent Details ***/
#torrentDetailsHeader, #detailsTrackersPage, #detailsFilesPage {
  padding-top: 9px;
  padding-left: 8px;
  padding-right: 8px;
}
#torrentDetails #detailsDetailsPage tr td:first-child {
  white-space: nowrap;
}
#torrentDetails #detailsDetailsPage tr td:last-child {
 word-break: break-all; 
}
#torrentDetails #detailsDetailsPage #label input {
  display: inline;
  height: 24px;
  width: 139px;
  padding-top: 5px;
  vertical-align: middle;
}
#torrentDetails #detailsFilesPage > div {
  min-height: 24px;
}
#torrentDetails #detailsFilesPage > div a {
  display: block;
  padding-top: 4px;
}
#torrentDetails #detailsFilesPage button {
  margin-left: 4px;
}


/*** Add Torrent ***/
#addTorrent {
  margin-top: -20px;
}
#addTorrent #showGetDir {
  height: 34px;
}


/*** Get Dir List ***/
#getDirList {
  margin-top: -20px;
}
#getDirList h5 {
  padding-left: 8px;
  padding-right: 8px;
}
#getDirList button {
  margin-left: 8px;
  margin-bottom: 15px;
}
#getDirList td {
  padding: 14px;
}

/*** Torrent Sort ***/
#torrentSort {
  margin-top: -20px;
}


/*** Global Settings ***/
#globalSettings {
  margin-top: -20px;
}


/*** Confirm Delete ***/
#confimTorrentDelete #confirmText {
  word-break: normal;
}

/*** Custom CSS By Teal-c ***/
/*** https://github.com/Teal-c/ ***/

:root {
  --color-white:#fff;
  --color-primary:#3E2247;
  --color-primary-hover:#037ba3;
  --color-1:#141924;
  --color-4:#171d29;
  --color-5:#1d2534;
  --color-6:#2b374d;
}

html, body { color: var(--color-white);background-color: var(--color-1)!important; }

a { color: var(--color-primary-hover); }
a:hover, a:focus { color: var(--color-primary); }

.btn-primary,
.btn-default { 
  color:var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-primary:hover,
.btn-default:hover { 
  color:var(--color-white);
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.form-control,
button, input, optgroup, select, textarea {
  color:var(--color-1);
  background-color: var(--color-white);
  border-color: var(--color-white);
}
hr { border-top: 1px solid var(--color-6); }

#torrentsList .nav,
.nav-tabs {
  background-color:var(--color-1);
  background-position: center;
}
.nav-tabs {
  border-bottom: 1px solid var(--color-6);
}
#torrentsList .nav a,
.nav-tabs a {
  color:var(--color-white);
}

.panel {
  margin-bottom: 20px;
  background-color: var(--color-1);
  border: 1px solid var(--color-6);
}
.panel-default > .panel-heading {
  color: var(--color-white);
  background-color: var(--color-5);
  border-color: var(--color-5);
}

.icon-black,
.nav-tabs #sort #sortIcon i,
.nav-tabs #refresh #refreshIcon i {
  color: var(--color-white); 
}

.dropdown-menu { background-color: var(--color-1); }
.nav-tabs .open .dropdown-toggle {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

#mainContainer {
  background-color: var(--color-4);
}

.tableFixHead th { background-color: var(--color-5); }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: 1px solid var(--color-6) !important;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: var(--color-5);
}
.table > thead > tr > th {
  border-bottom: 2px solid var(--color-6) !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-6);
  color: var(--color-white);
}

.navbar-inverse {
  background-color: var(--color-1);
  border-color: var(--color-6);
}

.progress { background-color: var(--color-5); }
.progress-bar { background-color: var(--color-primary); }
.progress-bar-striped, .progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg,rgba(20, 25, 36,.15) 25%,transparent 25%,transparent 50%,rgba(20, 25, 36,.15) 50%,rgba(20, 25, 36,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(20, 25, 36,.15) 25%,transparent 25%,transparent 50%,rgba(20, 25, 36,.15) 50%,rgba(20, 25, 36,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(20, 25, 36,.15) 25%,transparent 25%,transparent 50%,rgba(20, 25, 36,.15) 50%,rgba(20, 25, 36,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
